//- vim: set ai ts=3 sw=3 et nopaste : 
doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    //- script(src='http://localhost:35729/livereload.js')
    //- script(src='http://code.jquery.com/jquery-2.0.3.js')
    script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
    //- script(src='/js/byteParser.js')
    script(src='/js/midi.js')
    script(src='/js/midi-loader.js')
  body
    block content
