//- vim: set ai ts=3 sw=3 et nopaste : 
doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='http://d3js.org/d3.v3.min.js', charset='utf-8')
    script(src='http://underscorejs.org/underscore-min.js', charset='utf-8')
    script(src='/js/midi.js')
  body
    block content
    script(src='/js/timing-test.js')
