body {
   padding: 0;
   margin: 0;
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
   width: 100%;
   height: 100%;
   background-color: hsl(60, 80%, 80%);
}

svg {
   width: 100%;
   height: 100%;
}

circle {
   opacity: 0.5;
}

.track {
   width: 150px;
   position: absolute;
   top: 0;
}

.track.on {
   background-color: green;
}

.track.off {
   background-color: white;
}

#track-1 {
   left: 0;
}

#track-2 {
   left: 150px;
}

#track-3 {
   left: 300px;
}

#track-4 {
   left: 450px;
}

#track-5 {
   left: 600px;
}

#track-6 {
   left: 750px;
}

#track-7 {
   left: 900px;
}

#track-8 {
   left: 1050px;
}

#track-9 {
   left: 1200px;
}

#track-10 {
   left: 1350px;
}
