body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

circle {
   xfill: red;
}

.track {
   width: 100px;
   height: 100px;
   position: absolute;
}

.track.on {
   background-color: green;
}

.track.off {
   background-color: red;
}

#track-1 {
   top: 10px;
   left: 10px;
}

#track-2 {
   top: 110px;
   left: 110px;
}
